
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;0,700;1,200&display=swap');

body {
    font-family: 'Bitter', serif !important;
}

:root {
    --main-color:#EB63C0;
    --second-color:#7C4DDE;
    --third-color:#5A71E0;
    --dark-color:#3E4757;
    --grey-color:#ACAFBD;
    --light-color:#E7E8EB;
    --main-gradient-color: linear-gradient(rgba(235, 99, 192, 0.877), rgba(123, 77, 222, 0.836), rgba(90, 112, 224, 0.836));
    --second-gradient-color: linear-gradient(rgba(170, 20, 240, 0.938), rgba(219, 88, 40, 0.938), rgba(238, 46, 174, 0.938));

}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: 'Bitter', serif;
}


.btn-main {
    padding: 16px 30px;
    border: none;
    border-radius: 28px;
    background: var(--main-gradient-color);
    color: var(--light-color);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    transition: 0.7s ease-in-out;
    animation: 1s ;
}
.btn-main:hover {
     box-shadow: 0 3px 7px rgba(0, 0, 0, 0.9);
      font-size: 17px;

}
.btn-second {
    padding: 13px 20px;
    border: none;
    border-radius: 14px;
    background: var(--main-gradient-color);
    color: var(--light-color);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    transition: 0.7s ease-in-out;
    animation: 1s ;
}
.btn-second:hover {
     box-shadow: 0 3px 7px rgba(0, 0, 0, 0.9);
      font-size: 17px;
      color:var(--light-color) !important

}
